// ==========================================================
// Helpers - Extends
// ==========================================================

// Clearfix

%clearfix 
	&:after 
		content: ""
		display: table
		clear: both

%clearfixb 
	&:before 
		content: ""
		display: table
		clear: both

%pseudos
	display: block
	content: ''
	position: aboslute


