// ==========================================================
// Footer
// ==========================================================


.site-footer {
	background-color: #fff;
	font-size: 16px;
	line-height: 1;
	padding: 40px 0;
	text-align: center;
}

.site-footer p {
	margin-bottom: 0;
}


/* ## Footer Widgets */

.footer-widgets button,
.footer-widgets input[type="button"],
.footer-widgets input[type="reset"],
.footer-widgets input[type="submit"],
.footer-widgets .button {
	background-color: $color-accent;
	color: $white;
	&:hover {
		background-color: $white;
		color: $black-light;
	}
}

.footer-widgets .widget-title {
	color: $white;
}

.footer-widgets {
	background-color: $black-light;
	clear: both;
	padding-top: 40px;
	color: palette(gray, x-light);
	& a {
		color: palette(gray, x-light);
	}
}

.footer-widgets input {
	border: 1px solid $black-light;
}

.footer-widgets a.button,
.footer-widgets a:hover {
	color: $white;
}

.footer-widgets li {
	border-bottom: 1px dotted palette(gray, dark);
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.footer-widgets .widget {
	margin-bottom: 40px;
}

.footer-widgets p:last-child {
	margin-bottom: 0;
}

.footer-widgets-1 {
	margin-right: 60px;
	width: 340px;
	float: left;
}

.footer-widgets-2 {
	width: 340px;
	float: left;
}

.footer-widgets-3 {
	width: 340px;
	float: right;
}
