// ==========================================================
// Sidebars
// ==========================================================

/* ### Primary Sidebar */




/* ### Secondary Sidebar */

.sidebar-secondary {
	float: left;
	width: 180px;
}

.content-sidebar-sidebar .sidebar-secondary {
	float: right;
}


.sidebar {
	font-size: $base-font-size;
}

.sidebar li {
	border-bottom: 1px dotted palette(gray);
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.sidebar p:last-child,
.sidebar ul > li:last-child {
	margin-bottom: 0;
}

.sidebar .widget {
	background-color: #fff;
	margin-bottom: 40px;
	padding: 40px;
	& a {
		color: $black-light;
	}
}
