// ==========================================================
// Buttons
// ==========================================================


%btn {
	padding: 16px 24px;
	border: none;
	border-radius : $br--default;
	color: $white;
	background-color: $color-accent;
	width: 100%;
	text-transform: uppercase;
	font-size: em(16px);
	font-weight: $font-weight--medium;
	transition: opacity .5;
	display: block;
	cursor: pointer;
	&:hover {
		opacity:.75;
	}
	&:active {
		opacity: initial;
	}
}

button,
.button {
	@extend %btn;
	display: inline-block;
}